<h2>Sign up for Bandstand</h2>

<% if @user.errors %>
<% @user.errors.full_messages.each do |error| %>
<%= error %>
<br>
<% end %>
<br>
<% end %>

<%= form_for @user, url: signup_path do |f| %>
<%= f.label :name %>
<div><%= f.text_field :name %></div>
<br>
<%= f.label :email %>
<div><%= f.text_field :email %></div>
<br>
<%= f.label :password %>
<div><%= f.password_field :password %></div>
<br>
<%= f.label :password_confirmation %>
<div><%= f.password_field :password_confirmation %></div>
<br>
<%= f.submit %>
<% end %>
