<h2> Artist or band name: <%= @concert.band_name.titleize %> </h2>
<h3> Date: <%= @concert.date.to_time.strftime('%B %e, %Y') %> </h3>
<% if false %>
<h3> Time: <%= @concert.concert_time.to_time.strftime('%l:%M %p') %> </h3>
<% end %>


<% if current_user.id == @concert.user_id %>
<%= link_to "Edit concert information", edit_concert_path(@concert) %> |
<%= link_to "Delete concert information", concert_path(@concert), method: :delete %>
<% end %>
| <%= link_to "All concerts", concerts_path %>
